* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.header-section {
    position: absolute;
    top: 10px;
    width: 100%;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 198px;
}
.menu ul {
    list-style-type: none;
    display: flex;
    gap: 44px;
    align-items: center;
}
.menu ul li a {
    text-decoration: none;
    color: #000;
}
.header-btn {
    display: inline-block;
    background-color: #21B573;
    color: #fff !important;
    padding: 4px 25px;
    border-radius: 36px;
}
.default-btn {
    display: inline-block;
    background-color: #21B573;
    color: #fff !important;
    padding: 4px 25px;
    border-radius: 36px;
    text-decoration: none;
}
img {
    max-width: 100%;
}
.hero-section {
    height: 90vh;
    display: flex;
    align-items: center;
    background-color: #F0FFF0;
    padding-top: 75px;
}
.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content {
    width: 45%;
}
.hero-content h1 {
    color: #000;
}
.hero-content h1 span {
    color: #21B573;
}
.hero-img {
    width: 55%;
}
.done {
    color: #FD511A;
    margin-bottom: 22px;
}
.done-2 {
    color: #000;
    margin: 22px 0;
}
.middle-section {
    padding: 60px 0;
}
.middle-row {
    display: flex;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
}
.middle-box {
    width: 25%;
    padding: 36px;
    text-align: center;
    transition: .5s;
    border-radius: 8px;
    background-color: #F0FFF0 ;
}
.middle-box:hover {
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    cursor: pointer;
}
.middle-box img {
    width: 66px;
}
/* Course css Start */
.course-section {
    padding: 40px 0;
}
.course-title h2 {
    text-align: center;
    color: #413960;
    font-size: 30px;
    margin-bottom: 38px;
    font-weight: 500px;
    padding-bottom: 30px;
}
.row {
    display: flex;
    gap: 38px;
    justify-content: space-between;
}
.course-card {
    width: 33.33%;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 26px;
}
.course-header h4 {
    color: #413960;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
}
.course-header p {
    color: #585859;
    margin: 10px 0 16px 0;
}
.course-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    gap: 15px;
}
.date {
    width: 65%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.date-icon {
}
.date-icon span {
    color: #585859
}
.date-seat {}
.date-seat p {
    font-size: 14px;
    color: #585859;
}
.seat {
    width: 35%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.seat-icon {}
.seat-icon span {
    color: #585859;
}
.seat-number {}
.seat-number p {
    font-size: 14px;
    color: #585859;
}
/* Course css End */